.account-header
  display: flex
  justify-content: space-between
  align-items: center
  font-family: 'Russo One', sans-serif
  background-color: #ccc
  padding: 3rem

  &__logo
    font-weight: 700
    font-size: 2rem
    color: darkblue

    img
      width: 120px

  &__balance
    display: flex
    flex-direction: column
    font-weight: 600
    font-size: 3rem
    color: darkblue
    text-align: right

    &--inbank
      font-size: 2rem
      color: #707085

.bankmnu-window
  color: red

.bankmnu--window
  margin: 5rem
  padding: 0 5rem

.bankmnu-add
  form
    margin: 5rem 0

.bankmnu-form
  display: flex
  flex-direction: column
  align-items: center
  width: 100%

  &__label
    font-weight: 600
    font-size: 3rem
    color: darkblue

  &__input
    &--input
      margin: 3rem 0
      width: 100%
      font-family: 'Russo One', sans-serif
      background-color: #ccc
      border: none
      padding: 2rem 0
      text-align: center
      font-size: 35px
      font-weight: 700
      color: darkblue

  &__btns
    display: flex
    justify-content: space-between
    width: 100%

  &__btn
    padding: 2rem 5rem
    background-color: darkblue
    font-size: 30px
    font-weight: 700
    text-transform: uppercase
    color: white
    width: 100%
  
